$alert-danger-background-color: #fff3f7 !default;
$alert-danger-border-color: #fff3f7 !default;
$alert-danger-color: #ff7986 !default;

.alert-danger {
    background-color: #fff3f7;
    border-color: #fff3f7;
    color: #ff7986;
    padding: 10px 0;
    text-align: center;
}
