$btn-no-border-bg: #fff !default;
$btn-no-border-color: $primary !default;

.btn-no-border {
  @include btn-line($btn-no-border-bg, $btn-no-border-color);

  border-color: $btn-no-border-bg;

  &:hover {
    border-color: #573BFF;
  }
}

.btn-no-border-link-to-tems {
  background-color: #F5F8FF;
  position: relative;
  user-select: none;
  white-space: nowrap;
  color: #573BFF !important;
  display: inline;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
}
