$btn-line-bg: #fff !default;
$btn-line-color: $secondary !default;

.btn-line {
  @include btn-line($btn-line-bg, $btn-line-color);
  color: #562CFF;
  border: 1px solid #562CFF !important;
  height: auto !important;
  background-color: #fff;
}

.btn-line-inversed {
  @include btn-line($btn-line-color, $btn-line-bg);
}

.btn-line-inversed:hover {
  background-color: $btn-line-color;
  color: $btn-line-bg;
  text-decoration: none;
}
