.tile.tile-type-coin-balance {
	padding: 10px 0 10px 10px;
  border-left: 6px solid #573BFF;
  	border-bottom: 1px solid #F2F2F2;
	font-size: 14px;

  [data-balance-change-sign="Positive"] {
    color: #50A64D;
  }

  [data-balance-change-sign="Negative"] {
    color: #FE4C45;
  }
}
