$dashboard-banner-gradient-start: $primary  !default;
$dashboard-banner-gradient-end: lighten($dashboard-banner-gradient-start,
    5%) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price-dark-theme: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary  !default;
$dashboard-line-color-market-dark-theme: $secondary  !default;
$dashboard-line-color-transactions: $warning  !default;
$dashboard-line-color-transactions-dark-theme: $warning  !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: #A5A5A5 !default;
$dashboard-banner-chart-legend-label-color: #fff !default;
$dashboard-banner-chart-legend-value-color: $dashboard-stats-item-value-color  !default;
$dashboard-stats-item-border-color: $primary  !default;
$dashboard-banner-network-plain-container-height: 205px;
$dashboard-banner-chart-axis-font-color: $dashboard-stats-item-value-color  !default;
$dashboard-banner-chart-axis-font-color-alt: #333;

.dashboard-banner-container {
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background: transparent !important;
}

.dashboard-banner {
  position: relative;
  z-index: 9;
}

.dashboard-banner-network-graph {
  padding: 15px 0;
  width: 100%;
  background: #fff;
  position: relative;
}

.dashboard-banner-chart {
  margin: 15px 0;
  position: relative;
  height: 250px;

  @include media-breakpoint-down(md) {
    flex-grow: 0;
    margin-top: 20px;
    margin-bottom: auto;
    max-width: 100%;
  }

  >canvas {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    height: 150px !important;
  }
}

.dashboard-banner-chart-legend {
  display: flex;
  position: absolute;
  top: 15px;
  right: 0;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-banner-chart-legend-item {
    position: relative;
    padding: 8px 15px;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }

    @media (max-width: 599px) {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &.price-per-day {
      &::before {
        background-color: $dashboard-line-color-price;
      }
    }

    &.gas-price-oracle {
      &::before {
        background-color: #6248FF;
      }
    }

    &.market-cap-per-day {
      &::before {
        background-color: $dashboard-line-color-market;
      }
    }

    &.tx-per-day {
      &::before {
        background-color: #1FBFF1;
      }
    }
  }

  .dashboard-banner-chart-legend-label {
    color: #A5A5A5;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: 374px) {
      position: relative;
      top: -2px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 5px 0 0;
    }
  }

  .dashboard-banner-chart-legend-value {
    color: #A5A5A5;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;

    &.inline {
      display: inline-block;
    }
  }

  .dashboard-banner-chart-legend-value-container {
    white-space: nowrap;
  }

  .gas-price-icon {
    position: relative;
    top: -2px;

    path {
      fill: $dashboard-line-color-price;
    }
  }
}

.dashboard-banner-network-plain-container {
  position: relative;
  margin-bottom: 15px;
}

.dashboard-banner-network-stats {
  display: flex;
  width: 100%;

  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);

  .dashboard-banner-network-stats-item {
    flex: 1;
    padding: 30px;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index:6;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      border: 20px solid #F7F8FA;
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }

  @mixin forDashboardBackgroundImg {
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: -41px;
    right: -41px;
    display: block;
  }

  @mixin forDashboardBackgroundImg2 {
    @include forDashboardBackgroundImg;
    bottom: -44px;
    right: -51px;
  }

  @mixin forDashboardBackgroundImg3 {
    @include forDashboardBackgroundImg;
  }

  @mixin forDashboardBackgroundImg4 {
    @include forDashboardBackgroundImg2;
  }

  .dashboard-banner-network-stats-item {
    .dashboard-banner-network-stats-item-backgroundImg {
      @include forDashboardBackgroundImg;
      z-index:-1;
    }

    .dashboard-banner-network-stats-item-backgroundImg2 {
      @include forDashboardBackgroundImg2;
      z-index:-1;
    }

    .dashboard-banner-network-stats-item-backgroundImg3 {
      @include forDashboardBackgroundImg3;
      display: none;
      z-index:-1;
    }

    .dashboard-banner-network-stats-item-backgroundImg4 {
      @include forDashboardBackgroundImg4;
      display: none;
      z-index:-1;
    }
  }

  .dashboard-banner-network-stats-item+.dashboard-banner-network-stats-item {
    margin-left: 15px;
  }

  .dashboard-banner-network-stats-label {
    color: #474747;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;

    div {
      width: 34px;
      height: 34px;
      padding: 5px;
      margin-right: 10px;
      background: #573BFF;
      border-radius: 50px;
      border: 1px solid #fff;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  .dashboard-banner-network-stats-value {
    color: #272727;
    font-size: 32px;
    font-weight: bolder;
  }

  .dashboard-banner-network-stats-item:hover {
    background-color: #573BFF;

    .dashboard-banner-network-stats-label,
    .dashboard-banner-network-stats-value {
      color: #fff;
    }

    .dashboard-banner-network-stats-item-backgroundImg,
    .dashboard-banner-network-stats-item-backgroundImg2 {
      display: none;
    }

    .dashboard-banner-network-stats-item-backgroundImg3,
    .dashboard-banner-network-stats-item-backgroundImg4 {
      display: block;
    }
  }
}