.bs-label {
    color: #868686;

    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: #6ca1e2;
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.destination-rinkeby {
        background: #153550;
        color: #fff;
    }
    &.bridged {
        background: #70aee3;
        color: #fff;
    }
    &.validator {
        background: $primary;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
    &.success {
	background: #DEF5DE;
        color: #50A64D;
	padding: 5px 8px;
        border-radius: 5px;
    }
}

.confirmations-label, .index-label {
    position: relative;
    color: #8C91A3;
    background-color: #F5F8FF;
    padding: 5px 8px;
    border-radius: 5px;
}

.confirmations-label:after, .index-label:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-top-color: transparent;
}

.testnet-label {
    background-color: transparent;
    border: 1px solid #828ba0;
    color: #828ba0;
}
