.logs-topbar {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logs-search {
	display: flex;
	position: relative;
	flex: 2;
	@media (max-width: 599px) {
		margin-bottom: 30px;
		width: 100%;
	}
}

.logs-search-input, .logs-search-btn, .logs-search-btn-cancel {
	outline: none;
	border: 1px solid #DBDBDB;
	color: #8C91A3;
	border-radius: 5px;
	font-size: 14px;
	height: 40px;
}

.logs-search-input {
    display: inline-flex;
    flex-grow: 2;
    min-width: 160px;
    &::placeholder {
    	color: #DBDBDB;
    }
}

.logs-search-btn {
	padding: 0 20px;
	background: #F2F2F2;
	transition: .1s ease-in;
	cursor: pointer;
	position: absolute;
	right: 0;
	&:hover {
            color: #573BFF;
	}
}

.logs-search-btn-cancel {
	color: #a3a9b5;
	cursor: pointer;
	transition: .1s ease-in;
	position: absolute;
	top: 0;
	right: 56px;
	&:hover {
		color: #333;
	}
}
