// Default variables
$header-background-color: #fff !default;
$header-links-color: #828ba0 !default;
$header-links-color-active: #333 !default;
$header-icon-color: $header-links-color !default;
$header-icon-color-hover: $secondary !default;
$header-icon-border-color-hover: $secondary !default;
$header-toggler-icon: "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{transparentize($primary, 0.5)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" !default;
$header-textfield-text-color: $header-links-color !default;
$header-textfield-background-color: #f5f6fa !default;
$header-textfield-magnifier-color: $header-links-color !default;
$header-link-horizontal-padding: 0.71rem;
$navbar-logo-height: auto !default;
$navbar-logo-width: 100% !default;

.navbar.navbar-primary {
  background-color: $header-background-color;
  position: relative;
  z-index: 100;
  width: 265px;
  box-shadow: none;
  padding: 30px;

  .nav-item {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .navbar-nav {
    display: block;

    .nav-link, .home {
      outline: none;
      align-items: center;
      color: #202020;
      font-weight: bold;
      display: flex;
      font-size: 14px;
      position: relative;
      transition: $transition-cont;
      padding: 5px 15px;
      text-decoration: none;

      .nav-link-icon {
        margin-right: 10px;

	img {
          display: block;
          width: 16px;
          height: 16px;
        }
      }
    }

    .nav-item-networks {
      margin-left: auto;
      .nav-link:before {
        display: none;
      }
    }
  }

  .navbar-toggler {
    outline: none;
    color: $primary;
    padding-right: 0px;

    .navbar-toggler-icon {
      background-image: url($header-toggler-icon);
    }
  }
}

.navbar-container {
  width: 100%;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
  display: flex;
  flex-direction: column;

  .search-form {
    align-items: center;
    order: -1;
    width: 100%;

    form {
      flex-grow: 1;
    }

  }
  .input-group {
    width: 100%;
  }
  .navbar-nav {
    white-space: nowrap;
  }
}

.navbar-brand {
  margin: 0 0 20px;
  .navbar-logo {
    width: 128px;
  }
}

.navbar-logo {
  max-height: $navbar-logo-height;
  width: $navbar-logo-width;
}

.logo-text {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 5px;
  line-height: 28px;

  &.in-footer {
    color: #fff;
  }

  &.no-logo {
    margin-left: 0px;
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: $header-link-horizontal-padding;
    padding-right: $header-link-horizontal-padding;
  }
}

.add-border {
  border: 1px solid transparentize($white, 0.30);
}

.navbar-collapse {
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  @media (min-width: 992px) {
    align-items: center;
  }
}

.navbar-container, .navbar-primary {
  @media (min-width: 992px) {
    padding-right: 0;
  }
}

.nav-item-networks {
  .topnav-nav-link {
    transition: none !important;
  }
}

.visually-hidden {
  display: block;
}
