$pagination-page-link-background: #f5f6fa !default;
$pagination-page-link-color: #a3a9b5 !default;
$pagination-page-link-background-active: $primary !default;
$pagination-page-link-color-active: #fff !default;

@mixin pagination-container-base($background-color, $text-color) {
  border: 1px solid #DBDBDB;
  color: #ADADAD;
  background-color: #fff;

  path {
    fill: #ADADAD;
  }
}

.pagination-container {
  display: flex;
  justify-content: flex-end;

  &[disabled] {
    display: none;
  }

  &.position-top {
    padding-bottom: 30px;
  }

  &.position-bottom {
    margin-top: 30px;
  }

  .pagination-limit {
    align-items: center;
    color: #033333;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    select {
      margin: 0 10px;
    }
  }

  .pagination {
    margin: 0;
    padding: 0;

    .page-item {
      margin: 0 5px 0 0;

      &:last-child {
        margin-right: 0;
      }

      &.active .page-link {
        @include pagination-container-base($pagination-page-link-background-active, $pagination-page-link-color-active);
        cursor: default;
        pointer-events: none;

        &:hover {
          @include pagination-container-base($pagination-page-link-background-active, $pagination-page-link-color-active);
        }
      }
    }

    .page-link {
      @include pagination-container-base($pagination-page-link-background, $pagination-page-link-color);
      align-items: center;
      border-radius: 5px;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      height: 24px;
      margin: 0;
      padding: 0 8px;
      position: relative;
      user-select: none;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      box-shadow: none;

      &:not(.no-hover):hover {
        @include pagination-container-base($pagination-page-link-background-active, $pagination-page-link-color-active);
      }

      &[href=''] {
        pointer-events: none;
      }

      &.no-hover {
        cursor: default;
      }

      &[disabled] {
        @include pagination-container-base($pagination-page-link-background, $pagination-page-link-color);
        cursor: not-allowed;
        opacity: 0.4;
        outline: none;
        pointer-events: none;
      }
    }
  }
}

.tb {
  background-color: #00000000 !important;
  border: none !important;
}

.ml10 {
  margin-left: 10px;
}

.limit {
  color: #ADADAD;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  text-align: right;
}

.align-end {
  align-self: end;
}

.page-number {
  border-radius: 5px;
  border: 1px solid #DBDBDB;
  color: #ADADAD;
  outline: none;
}

.fml5 {
  margin-left: 5px !important;
}

.top-pagination-outer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.logs-topbar .pagination-container {
  @media (min-width: 600px) {
    margin-left: 80px;
  }
}
