.mobile-search-show {
    @media screen and (max-width: 992px) {
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}

.mobile-search-hide {
    @media screen and (max-width: 992px) {
        display: none !important;
    }
}

.input-group {
    flex-wrap: nowrap;
    align-items: center;
}

.net {
    position: relative;
    padding-left: 20px;
    white-space: nowrap;
    color: #313131;
    font-size: 14px;
}

.net:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00C222;
}

.input-group-append {
    margin-left: 0 !important;
    margin-right: 10px;
}

.input-group-text {
    background: #fff !important;
    border: none !important;
}

.search-control {
    width: 100%;
}

.autoComplete_wrapper {
    width: 100% !important;
}

.main-search-autocomplete {
    width: 100% !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #fff !important;
}

.main-search-autocomplete, .main-search-autocomplete-mobile {
    font-size: 14px !important;
    color: #8C91A3 !important;
}

.autocomplete-category {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(33,33,33);
    margin-left: auto;
}

.autoComplete_highlight {
    background-color: #feff54 !important;
    color: #212121 !important;
}

ul[id^='autoComplete_list_'] {
    margin-left: -39px !important;
    border-radius: 0px !important;
    padding: 5px !important;
}

li[id^='autoComplete_result_'] {
    font-size: 12px !important;
    border-radius: 0 !important;
}
