.token-tile-view-more {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  text-align: center;

  &:before,
  &:after {
    border-bottom: 1px dashed $border-color;
    content: "";
    height: 1px;
    flex-grow: 1;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}
