$tooltip-background-color: $btn-line-color !default;
$tooltip-color: #fff !default;

.tooltip {
  max-width: 250px;
  min-width: 100px;

  .tooltip-inner {
    background-color: rgba(102, 109, 254, 0.9);
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 12px;
  }

  .arrow::before {
    border-top-color: rgba(102, 109, 254, 0.9);
    border-bottom-color: rgba(102, 109, 254, 0.9);
  }
}

.bs-tooltip-top { top: -10px !important; }
.bs-tooltip-bottom { top: 10px !important; }
.bs-tooltip-left { left: -10px !important; }
.bs-tooltip-right { left: 10px !important; }
