@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

.layout-container {
  display: flex;
  height: 100vh;
  background-color: #F7F8FA;

  .leftbox {
    width: 265px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
  }

  main {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;

    .maskbox {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 990;
    }
  }

  .search-form {
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: none !important;
  }

  .homebox {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 844px) {
  .layout-container {
    .leftbox {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      display: none;
    }

    .search-form {
      background-color: #F7F8FA;
      margin-bottom: 5px;
    }

    .homebox {
      flex-direction: column;

      .card-chain-blocks {
        margin-right: 0;
      }
    }
  }
}

