@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

.layout-container {
  display: flex;
  min-height: 100vh;

  .leftbox {
    width: 265px;
    background-color: #fff;
    margin-right: 10px;
  }

  main {
    flex-grow: 1;
    background-color: #F7F8FA;
  }

  .search-form {
    margin-bottom: 10px;
    background-color: #fff;
  }
}

.logs-hash {
  line-height: 24px !important;
}
