@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

.layout-container {
  display: flex;
  height: 100vh;
  background-color: #F7F8FA;

  .leftbox {
    width: 265px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
  }

  main {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  .search-form {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
  }
}

.logs-hash {
  line-height: 24px !important;
}
