@import "components/datepicker";

.js-datepicker {
    width: 150px !important;
    display: inline-block !important;
}

.dates-container {
    display: flex;
    flex-wrap: wrap;

    div {
        margin-bottom: 10px;
	margin-right: 40px;
    }

    span {
        display: inline-block;
        width: 30px;
    }
}
